* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

:root {
  --breadcrumb-color: #90a4bf;
  --borderbox-color: #274d83;
}

h2 {
  color: #336699;
  font-weight: bold !important;
  text-align: center;
}

h3 {
  color: #336699;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
  max-width: 800px;
}

/* ul {
  list-style-type: none;
} */

li {
  font-size: 10px;
  margin-left: -30px;
}

input[type="search"],
input[type="number"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  outline: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
input[type="search"],
input[type="number"] {
  border-radius: 5px;
  padding: 9px 10px 9px 54px;
  width: 116px;
  height: 32px;
  /* background: url(./utils/images/route.svg)
    no-repeat 9px center; */
  background-color: #f6f9fe;
  border: solid 1px var(--borderbox-color);
  /* -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; */
}

input[type="radio"] {
  margin: 0 12px 0 10px;
  color: #90a4bf;
}

#radio > label {
  margin: 0 32px 0 0;
  color: #90a4bf;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
input[type="submit"] {
  width: 35%;
  height: 50%;
  font-size: 14px;
  background-color: #d30e0e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.icon {
  margin-left: -50px;
  transform: translatex(calc(110%));
  padding: 12px;
  border-right: 1px solid blue;
  width: 50px;
  height: 49px;
  text-align: center;
}
.icon1 {
  margin-left: -50px;
  /* border-right: solid black; */
  transform: translatex(calc(110%));
  margin: 8px auto;
  padding: 10px;
  border-right: 1px solid #336699;
  width: 50px;
  text-align: center;
}
.icon2 {
  margin-left: -50px;
  /* border-right: solid black; */
  transform: translatex(calc(110%));
  margin: 8px auto;
  padding: 10px;
  border-right: 1px solid #336699;
  width: 50px;
  text-align: center;
}
.icon3 {
  margin-left: -50px;
  /* border-right: solid black; */
  transform: translatex(calc(110%));
  margin: 8px auto;
  padding: 10px;
  border-right: 1px solid #336699;
  width: 50px;
  text-align: center;
}
.icon4 {
  margin-left: -50px;
  /* border-right: solid black; */
  transform: translatex(calc(110%));
  margin: 8px auto;
  padding: 10px;
  border-right: 1px solid #336699;
  width: 50px;
  text-align: center;
}
.icon5 {
  margin-left: -50px;
  /* border-right: solid black; */
  transform: translatex(calc(110%));
  margin: 8px auto;
  padding: 10px;
  border-right: 1px solid #336699;
  width: 50px;
  text-align: center;
}
.icon6 {
  margin-left: -50px;
  /* border-right: solid black; */
  transform: translatex(calc(110%));
  margin: 8px auto;
  padding: 10px;
  border-right: 1px solid #336699;
  width: 50px;
  text-align: center;
}
input[type="search1"] {
  border-radius: 5px;
  padding: 9px 10px 9px 54px;
  margin-bottom: 15px;
  width: 780px;
  height: 52px;
  background-color: #f6f9fe;
  /* background: url(./utils/images/route.svg)
    no-repeat 9px center; */
  border: solid 1px var(--borderbox-color);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
input[type="search2"] {
  border-radius: 5px;
  padding: 9px 10px 9px 54px;
  margin-bottom: 15px;
  width: 780px;
  height: 52px;
  background-color: #f6f9fe;
  /* background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center; */
  border: solid 1px var(--borderbox-color);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 35%;
  height: 50%;
  font-size: 14px;
  background-color: #d30e0e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.wad-btn-submit {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 564px;
  margin-top: 15px;
  width: 28%;
}

.wad-row-info {
  margin-top: 18px !important;
  margin: 40px 12%;
  text-align: center;
}

/* Clear floats after the columns */
.wad-row-info:after {
  content: "";
  display: table;
  clear: both;
}

.wad-row-mob {
  display: none;
}
.wad-search-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 71px;
  padding: 30px 0px 0px 0px;
  /* border: 1px solid grey; */
}
.wad-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 240px !important;
}
.wad-column-head {
  padding: 20px 0px 0px 0px;
  /* margin-bottom: -25px; */
  margin-top: 0px;
  color: #336699;
}
.wad-column-head object {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
.wad-column-head p {
  font-size: 16px;
  font-weight: 500;
}
select.account {
  border: 0px;
  outline: 0px;
  background-color: white !important;
}
.wad-nav-mob {
  display: none;
}
.wad-nav-mob {
  display: flex;
  align-items: center;
}
.wad-row-button {
  margin-top: 18px !important;
  margin: 40px 12%;
  text-align: center;
  margin-top: 32px !important;
}
.wad-row-button:after {
  content: "";
  display: table;
  clear: both;
}
.wad-column-button {
  float: left;
  width: 33.33%;
  padding: 0;
}
.wad-compare-buttonz {
  box-shadow: 0px 0px 15px 0px rgb(200, 211, 207);
  background-color: rgb(221, 247, 247);
  border: none;
  color: #255489;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px 7px 3px;
  cursor: pointer;
}
.wad-compare-button {
  display: none;
}

.wad-buttons-mob {
  display: none;
}

.wad-form-container-mob {
  display: none;
}

select.account {
  border: 0px;
  outline: 0px;
  background-color: white !important;
}

.wad-from {
  padding-bottom: 20px;
  background-color: #f6f9fe;
}

.column {
  padding: 10px;
  margin: 10px 20px;
}

.wad-bc-row p {
  font-size: 16px;
}
.search-routes-head-top-h2 {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 600;
}

.wad-top-mango-container {
  background-color: #F6F9FE;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 56px;
  margin-top: 100px;
}
.wad-top-mango-route {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  padding-top: 40px;
}
.wad-mango-table-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wad-mango-table > .wad-mango-table-heading:nth-of-type(1) > p:nth-of-type(2) {
    margin-left: 48px;
}
.wad-mango-table-heading p {
  padding: 15px 0px 10px 0px;
  font-size: 20px;
  font-weight: 500;
}
.wad-mango-mob{
  display:none;
}
.wad-start-mob{
  display:none;
}


.wad-mango-load-button {
  background-color: #336699;
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}
.wad-radio-button{
  margin-bottom: 10px;
}
.hamburger {
  display: none;
}

.hamburger-line1 {
  width: 50px;
  height: 4px;
  background-color: #ed1c31;
  margin: 6px 0px 8px 0px;
}
.hamburger-line2 {
  width: 20px;
  height: 4px;
  background-color: #ed1c31;
  margin: 6px 0px 8px 0px;
}
.hamburger-line3 {
  width: 10px;
  height: 4px;
  background-color: #ed1c31;
  margin: 6px 0px 8px 0px;
}
.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(221, 247, 247);
  overflow-x: hidden;
  color: white;

  /* transform: translateY(-100%); */
  transition: transform 0.2s;
  list-style: none;
  /* padding-top: 2rem; */
  display: none;
}

.menu li {
  margin-top: 7rem;
  padding: 1rem;
  text-align: center;
}

.menu li a {
  text-decoration: none;
  display: block;
  font-size: 35px;
}

.close {
  position: fixed;
  right: 0;
  padding: 0 1rem 0 1rem;
  font-size: 5rem;
  color: black;
}

.showNav {
  transform: translateY(0);
}

.wad-column-info {
  float: left;
  width: 33.33%;
  padding: 0 20px;
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .wad-search-row {
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    height: 119px;
    padding: 65px 0px 0px 0px;
    border: 1px solid grey; */
    display: none !important;
  }
  .wad-row {
    /* display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 100px !important;
    margin-left: 25px !important; */
    display: none !important;
  }
  .wad-row-info {
    margin-top: 18px !important;
    margin: 40px 4%;
    text-align: center;
  }
  .wad-row-info > p {
    font-size: 14px;
    margin: auto 5%;
  }

  .wad-column-info {
    float: left;
    width: 33.33%;
    padding: 0 20px;
  }

  .wad-column-head {
    padding: 20px 0px 0px 0px;
    /* margin-bottom: -25px; */
    margin-top: 0px;
    color: #336699;
  }
  .wad-column-head object {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
  }
  .wad-column-head p {
    font-size: 16px;
    font-weight: 500;
  }
  select.account {
    border: 0px;
    outline: 0px;
    background-color: white !important;
  }
  .wad-nav-mob {
    display: none;
  }
  .wad-nav-mob {
    display: flex;
    align-items: center;
  }

  .wad-form-input {
    margin-left: -80px !important;
    margin-right: -50px !important;
  }

  .wad-row-button {
    margin-top: 18px !important;
    margin: 40px 12%;
    text-align: center;
    margin-top: 32px !important;
  }
  .wad-row-button:after {
    content: "";
    display: table;
    clear: both;
  }
  .wad-column-button {
    float: left;
    width: 33.33%;
    padding: 0;
  }
  .wad-compare-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    box-shadow: 0px 0px 15px 0px rgba(200, 211, 207, 0.877);
    background-color: rgb(221, 247, 247);
    border: none;
    color: #255489;
    padding: 10px 66px 10px 66px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /* margin: -4px 1px 0px 1px !important; */
    cursor: pointer;
  }
  
  
  .hamburger {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 2rem;
    padding-top: 1rem;
    line-height: 3px;
  }
  .hamburger-line1 {
    width: 40px;
    height: 3px;
    background-color: #ed1c31;
    margin: 6px 0px 7px 0px;
  }
  .hamburger-line2 {
    width: 20px;
    height: 3px;
    background-color: #ed1c31;
    margin: 6px 0px 7px 0px;
  }
  .hamburger-line3 {
    width: 10px;
    height: 3px;
    background-color: #ed1c31;
    margin: 6px 0px 7px 0px;
  }
  .wad-mango-mob{
    display:none;
  }
  .wad-start-mob{
    display:none;
  }

  .wad-top-mango-container {
    background-color: #F6F9FE;
    margin-left: 0px;
    margin-right: 0px;
  }
  .wad-top-mango-route {
    margin-left: 16px;
    margin-right: 16px;
  }
  .wad-mango-table-heading p {
    padding: 0;
  }
  .subscribebox {
    margin-left: 10px;
    width: 300px;
  }
}

@media only screen and (max-width: 480px) {
  .wad-search-row {
    display: none;
  }
  .wad-row {
    display: none;
  }
  .wad-nav-mob {
    display: flex;
    align-items: center;
  }
  .wad-row-mob {
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wad-bottom-mob {
    background-color: #d4dfea;
    padding: 3px;
  }

  .wad-form-input {
    margin-left: -80px !important;
    margin-right: -25px !important;
  }

  .wad-column-info {
    width: 100%;
    margin: 8px 0;
  }

  .wad-row-button {
    margin: 0px 0px 0px 0px;
    display: contents;
  }
  .wad-row-button {
    margin: 40px 0;
  }
  .wad-compare-button {
    box-shadow: 0px 0px 15px 0px rgb(200, 211, 207);
    background-color: rgb(221, 247, 247);
    border: none;
    color: #255489;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px 7px 3px;
    cursor: pointer;
  }
  .wad-search-buttonz {
    padding: 2px 5px !important;
    font-size: 8px !important;
  }
.wad-top-mango-container {
    background-color: #F6F9FE;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .wad-top-mango-route {
    margin-left: 16px;
    margin-right: 16px;
  }
  .wad-mango-table-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wad-mango-table > .wad-mango-table-heading:nth-of-type(1) > p:nth-of-type(2) {
    margin-left: unset;
}
  .wad-mango-table-heading p {
    margin-bottom: 0;
    padding: 0;
    font-size: 9px;
    font-weight: 600;
    text-align: center;
    line-height: 18px;
  }
  hr {
    margin: 0.5rem 0 !important;
  }
  .wad-mango-table-heading object {
    height: 8px;
    width: 8px;
  }
  .wad-mango-load-button {
    padding: 10px 16px;
    font-size: 12px;
  }
}

.wad-breadcrumbs {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 46px;
  background-color: var(--breadcrumb-color);
  padding: 28px 0px 13px 60px;
  color: #ffffff;
  margin-top: -40px;
  
}

.wad-pageroutes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wad-pageroutes h2 {
  color: #336699;
}

.wad-searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wad-qbox {
  float: right;
  margin-top: -35px;
  padding: 10px 10px 10px 10px;
  border: solid 1px #6b86ab;
  border-radius: 5px;
  margin-left: 25px;
  color: #336699;
  font-size: 20px;
}

.wad-qbox p {
  font-size: 22px;
  font-weight: 500;
}

.wad-qbox li {
  font-size: 14px;
  font-weight: 400;
}

.wad-content-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 35px;
}
.wad-content-container h2 {
  color: #245489;
  font-weight: 700;
  font-size: 30px;
}
.wad-content-container p {
  color: black;
  font-weight: 500;
  font-size: 19px;
  line-height: 32px;
}
.wad-content-info1 {
  float: left;
}
.wad-general-info button {
  background-color: #274d83;
  border: solid 2px #274d83;
  padding: 9px 9px 9px 9px;
  color: white;
  font-size: 22px;
}
.wad-general-info button:focus {
  background-color: none;
}
hr {
  border-top: 3px solid #274d83 !important;
  width: 100%;
}

.wad-otherInfo-details-left {
  margin-left: -11px;
  width: 100%;
}
.wad-otherInfo-details-right {
  /* position: relative; */
  width: 500px;
  padding-top: 20px;
  padding-right: 150px;
  /* right: 10rem; */
  /* padding-top: -15rem; */
}
.wad-info-headings {
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 300px;
  height: 57px;
}
.wad-general-info-headings {
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 300px;
  height: 57px;
}
.wad-general-info-headings > h3 {
  color: black;
  padding-top: 45px;
  margin-left: -80px;
  margin-left: -9px;
  font-weight: 500;
  font-size: 20px;
}
.wad-general-info-container object{
  margin-top: -10px;
}

.wad-info-headings > h3 {
  color: black;
  padding-top: 45px;
  margin-left: -80px;
  margin-left: -9px;
  font-weight: 500;
  font-size: 20px;
}
.wad-info-headings > p {
  padding-top: 15px;
  margin-left: -80px;
  margin-left: -9px;
  font-weight: 500;
  font-size: 20px;
}

.wad-info-content {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  padding-bottom: 0px;
  margin-left: -10px;
}

.wad-airlines-row {
  margin: 40px 12% 0 12%;
}

.wad-airlines-column {
  float: left;
  width: 50%;
  padding: 20px 50px;
}

/* Clear floats after the columns */
.wad-airlines-row:after {
  content: "";
  display: table;
  clear: both;
}

.wad-search-button {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 20px 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: -4px 2px 0px 2px;
  cursor: pointer;
}

.wad-search-buttonz {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 30px 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: -4px 2px 0px 2px;
  cursor: pointer;
}

.wad-search-button-routes {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 20px 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: -4px 2px 0px 2px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  hr {
    border-top: 3px solid #274d83 !important;
    width: 98%;
  }
  .wad-info-headings {
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    width: 200px;
    height: 52px;
    opacity: 1;
    margin-left: 0px;
  }
  .wad-info-headings h3 {
    font-size: 18px;
  }

  .wad-info-content {
    font-size: 14px;
  }

  .wad-airlines-row {
    margin: 40px 4% 0 4%;
  }

  .wad-airlines-column {
    float: left;
    width: 50%;
    padding: 20px 4vw;
  }

  .wad-airlines-column h3 {
    font-size: 18px;
  }

  .wad-airlines-column > p {
    font-size: 14px;
  }

  /* Clear floats after the columns */
  .wad-airlines-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .wad-search-button {
    background-color: red;
    border: none;
    color: white;
    padding: 8px 20px 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: -4px 2px 0px 2px;
    cursor: pointer;
  }

  .wad-search-button-routes {
    background-color: red;
    border: none;
    color: white;
    padding: 8px 20px 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: -4px 2px 0px 2px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 480px) {
  .hamburger {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 1rem;
    padding-top: 1rem;
    line-height: 3px;
  }
  .hamburger-line1 {
    width: 30px;
    height: 2px;
    background-color: #ed1c31;
    margin: 6px 0px 3px 0px;
  }
  .hamburger-line2 {
    width: 15px;
    height: 2px;
    background-color: #ed1c31;
    margin: 6px 0px 3px 0px;
  }
  .hamburger-line3 {
    width: 5px;
    height: 2px;
    background-color: #ed1c31;
    margin: 6px 0px 7px 0px;
  }

  .wad-form-details > div > p > object {
    margin-left: 18px;
  }

  hr {
    width: 98%;
  }

  .wad-info-content {
    font-size: 14px;
    margin-right: 15px;
  }

  .wad-airlines-row {
    margin: 40px 4% 0 4%;
  }

  .wad-airlines-row > h2 {
    margin-bottom: 40px;
  }

  .wad-airlines-column {
    float: none;
    width: 100%;
    padding: 0 4vw;
    margin-left: 3vw !important;
  }

  .wad-airlines-row > .wad-airlines-column:nth-of-type(2) > h3,
  .wad-airlines-row > .wad-airlines-column:nth-of-type(2) > hr:nth-of-type(1) {
    display: none;
  }

  .wad-airlines-column > p {
    font-size: 14px;
  }

  .wad-search-button {
    background-color: red;
    border: none;
    color: white;
    padding: 8px 20px 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: -4px 2px 0px 2px;
    cursor: pointer;
  }
}

.wad-general-info-container {
  background-color: #f6fafe;
  height: 50px;
  padding: 10px;
  font-size: 16px;
}
.wad-general-info-container > h5 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 14px;
  color: #336699;
}
.wad-content-info2 {
  float: right;
  text-align: center;
  color: black;
}
.wad-content-info2 p {
  float: right;
  text-align: center;
  color: black;
}
.wad-queries-info {
  margin-top: 50px;
  margin-left: 135px;
  margin-right: 136px;
  margin-bottom: -65px;
}
.wad-queries-info button {
  background-color: #274d83;
  border: solid 2px #274d83;
  padding: 9px 9px 9px 9px;
  color: white;
  font-size: 22px;
}
.routes-head-top {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 26px;
}
.search-routes-head-top h2 {
  text-align: center;
  font-weight: 600;
}
.search-routes-head-top {
  display: table;
  margin: 0 auto;
  background-color: rgba(236, 251, 252, 0.61);
  border-radius: 5px;
}

.column-routes-head-top {
  font-weight: bold;
  padding: 20px 30px;
  margin: 0 20px;
  font-size: 17px;
}
.column-routes-head-top > p {
  margin-bottom: 0 !important;
}
.routes-top {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-right: 33px;
  padding-left: 10px;
}
.search-routes-top {
  display: table;
  margin: 0 auto;
  background-color: rgba(236, 251, 252, 0.61);
  border-radius: 5px;
}
.column-routes-top {
  padding: 20px 45px;
  margin: 0 20px;
  font-weight: 500;
}
hr.top {
  margin: 0 !important;
  border-top: 2px solid #0c6aec !important;
}
/* //newtablecss */

.airlines-row {
  margin: 40px 12% 0 12%;
  padding-top: 80px;
}
.airlines-row h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.airlines-column {
  float: left;
  width: 50%;
  padding: 40px 50px;
}
/* Clear floats after the columns */
.airlines-row:after {
  content: "";
  display: table;
  clear: both;
}

.search-button {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 20px 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: -4px 2px 0px 2px;
  cursor: pointer;
}
.search-buttons {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 10px 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: -4px 2px 0px 2px;
  cursor: pointer;
}
hr.line {
  margin-left: -25px;
  margin-right: 25px;
  border-top: 3px solid #0c6aec !important;
}

.wad-faq {
  text-align: center;
  margin-top: 100px;
}
.wad-container-faq {
  margin: 40px 168px;
}
.wad-container-faq h2 {
  color: #245489;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 30px;
}
.accordion1 {
  background-color: #C6CDD6;
  color: #444;
  cursor: pointer;
  padding: 16px 28px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  position: relative;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel1 {
  padding: 32px 56px;
  display: none;
  background-color: #F3F1F0;
  margin-bottom: 5px;
  overflow: hidden;
  font-weight: 500;
  text-align: left;
  margin-top: -10px;
  font-size: 20px;
}


.wad-faq-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
  margin-left: 168px;
  margin-right: 168px;
}
.wad-faq-card1 {
  border-radius: 5px;
  flex: 30%;
  min-height: 200px;
  text-align: left;
  border: solid 2px #245489;
  padding: 5px 5px 5px 5px;
  margin: 6px;
  color: black;
  font-weight: 400;
}
.wad-faq-card1 h5 {
  color: #245489;
  font-weight: 600;
  padding: 15px 4px;
  font-size: 14px;
}
.wad-faq-card1 p {
  font-weight: 400;
  padding: 15px 4px;
  font-size: 14px;
}
.wad-faq-card2 {
  border-radius: 5px;
  flex: 30%;
  min-height: 200px;
  text-align: left;
  border: solid 2px #245489;
  padding: 5px 5px 5px 5px;
  margin: 6px;
  color: black;
  font-weight: 400;
}
.wad-faq-card2 h5 {
  color: #245489;
  font-weight: 600;
  padding: 15px 4px;
  font-size: 14px;
}
.wad-faq-card2 p {
  font-weight: 400;
  padding: 15px 4px;
  font-size: 14px;
}
.wad-faq-card3 {
  border-radius: 5px;
  flex: 30%;
  min-height: 200px;
  text-align: left;
  border: solid 2px #245489;
  padding: 5px 5px 5px 5px;
  margin: 6px;
  color: black;
  font-weight: 400;
}
.wad-faq-card3 h5 {
  color: #245489;
  font-weight: 600;
  padding: 15px 4px;
  font-size: 14px;
}
.wad-faq-card3 p {
  font-weight: 400;
  padding: 15px 4px;
  font-size: 14px;
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .wad-top-routes-hide {
    margin-bottom: 70px;
  }

  .search-routes-head-top h2 {
    text-align: center;
    font-weight: 600;
  }
  .search-routes-head-top {
    display: table;
    margin: 0 auto;
    background-color: rgba(236, 251, 252, 0.61);
    border-radius: 5px;
  }
  .column-routes-head-top {
    font-weight: bold;
    padding: 20px 10px;
    margin: 0 20px;
    font-size: 14px;
  }
  .column-routes-head-top > p {
    margin-bottom: 0 !important;
  }
  .routes-top {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-right: 33px;
    padding-left: 10px;
  }
  .search-routes-top {
    display: table;
    margin: 0 auto;
    background-color: rgba(236, 251, 252, 0.61);
    border-radius: 5px;
  }
  .column-routes-top {
    padding: 20px 20px;
    margin: 0 20px;
    font-size: 10px;
  }
  .wad-faq {
    margin-top: 0;
}
.wad-container-faq {
  margin: 40px 4%;
}
.wad-faq-qa {
    margin-top: 20px;
}
.panel1 {
  padding: 10px 18px;
  font-size: 16px;
}

  .wad-faq-cards {
    margin-left: 4%;
    margin-right: 4%;
    justify-content: left;
  }
  .wad-faq-card1,
  .wad-faq-card2 {
    flex: 47%;
  }
  .wad-faq-card3 {
    width: 48%;
    flex: initial;
  }
  .wad-container-faq {
    margin: 0 4%;
  }
  .wad-container-faq h2 {
    font-size: 24px;
  }
  .wad-otherInfo-details-right {
    padding-top: 50px;
    padding-right: 100px;
    width: 500px;
    height: 200px;
  }
}

/* not-touch */

@media only screen and (max-width: 480px) {
  .wad-faq {
    margin-top: 50px;
  }

  .wad-faq-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
}
.wad-faq-card1, .wad-faq-card2, .wad-faq-card3 {
    flex: 100%;
}


  .wad-container-faq {
    margin: 0 4%;
  }
  .wad-container-faq h2 {
    font-size: 18px;
  }
  .wad-faq-qa button {
    font-size: 14px;
  }
  /* .panel1 {
    font-size: 12px;
  } */
  .wad-faq {
    margin-top: 0px;
}
.wad-container-faq {
    margin: 8px 16px 4px 16px !important;
  }
.wad-container-faq h2 {
    font-size: 18px;
    margin-bottom: 8px;
}
.wad-faq h2 {
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 30px;
}
.panel1 {
padding: 10px 18px;
font-size: 16px;
}
.panel1 > p {
    font-size: 14px;
}
.accordion1{
  padding: 14px;
  font-size: 14px;
}
}

/* .wad-faq{
  text-align: center;
  margin-top: 100px;
  
}
.wad-container-faq{
  margin-left: 222px;
  margin-right: 146px;
  padding-top:200px;
}
.wad-container-faq h2{
  color:#336699;
  font-weight: 700;
  font-size: 30px;
}
.wad-faq-qa{
  padding-top:20px;
}

.wad-from {
  background-color: #F6F9FE; 
  padding: 5px; 
  margin-bottom: 28px;
}

.accordion1 {
  background-color:#C6CDD7;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  position: relative;
  font-weight: 600;
  margin-bottom: 10px;
} */

/* .active, .accordion:hover {
  background-color: white; 
} */

/* .panel1 {
  padding: 10px 18px;
  display: none;
  background-color: #F3F1F0;
  margin-bottom: 5px;
  overflow: hidden;
  font-weight: 500;
  text-align: left;
  padding-top: 10px;
  color:black;
  font-size: 14px;
}

.wad-faq-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 222px;
  margin-right: 146px;
}
.wad-faq-card1{
  width:33.33%;
  min-height: 258px;
  text-align: left;
  border:solid 2px #245489 ;
  padding:5px 5px 5px 5px;
  margin:6px;
  color:black;
  font-weight:400;
}
.wad-faq-card1 h5{
  color:#245489;
  font-weight: 600;
  padding: 15px 15px 15px 15px;
  font-size: 14px;
}
.wad-faq-card1 p{
  font-weight: 400;
  padding: 15px 15px 15px 15px;
  font-size: 14px;
}
.wad-faq-card2{
  width:33.33%;
  min-height: 258px;
  text-align: left;
  border:solid 2px #245489 ;
  padding:5px 5px 5px 5px;
  margin:6px;
  color:black;
  font-weight:400;
}
.wad-faq-card2 h5{
  color:#245489;
  font-weight: 600;
  padding: 15px 15px 15px 15px;
  font-size: 14px;
}
.wad-faq-card2 p{
  font-weight: 400;
  padding: 15px 15px 15px 15px;
  font-size: 14px;
}
.wad-faq-card3{
  width:33.33%;
  min-height: 258px;
  text-align: left;
  border:solid 2px #245489 ;
  padding:5px 5px 5px 5px;
  margin:6px;
  color:black;
  font-weight:400;
  
}
.wad-faq-card3 h5{
  color:#245489;
  font-weight: 600;
  padding: 15px 15px 15px 15px;
  font-size: 14px;
}
.wad-faq-card3 p{
  font-weight: 400;
  padding: 15px 15px 15px 15px;
  font-size: 14px;
} */

.footer-image {
  display: flex;
  justify-content: center;
}

.footer-img {
  margin-top: 10rem;
  max-width: 100%;
  height: auto;
}

.footer-mob {
  display: none;
}

.container,
.footer {
background-color: #245489;
margin-top: -60px;
}

.footer {
display: flex;
justify-content: center;
align-items: center;
/* background: url("./utils/images/footer-bg.png") no-repeat; */
position: relative;
}

.footer-rowz {
  display: flex;
  flex-wrap: wrap;
  background-color: #245489;
}

.footer-column {
  width: 20%;
  padding: 0 15px;
}
.footer-column h4 {
  font-size: 16px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  color: #e3bc59;
}
.footer-column h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
}
.footer-column li {
  font-size: 14px;
  list-style: none;
}

.footer-column ul li a {
  font-size: 14px;
  color: #f2f3f6;
  text-decoration: none;
  font-weight: 500;
}

.container-footer {
  padding-top: 20px;
  background: #245489;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.footer-column-2 {
  width: 33%;
  padding: 0px;
  margin-right: -17px;
}
.footer-column-2 h4 {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-left: 50px;
  font-weight: 400;
  position: relative;
  color: #e3bc59;
}
.footer-column-2 h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
}
.footer-column-2 li {
  font-size: 16px;
  list-style: none;
}

.footer-column-2 ul li {
  font-size: 12px;
  color: #f2f3f6;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 21px;
  margin-left: 20px;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  margin-right: 119px;
}

.footer-logos-logo {
  text-align: center;
  width: 25%;
  margin-right: 60px;
}

.footer-logos-sponsors {
  text-align: center;
  width: auto;
  margin-right: 60px;
}

.footer-logos-sponsors h5 {
  font-size: 16px;
  color: #245489;
}

.footer-logos-sponsors p {
  font-size: 12px;
  color: #245489;
}

.footer-logos-deals {
  text-align: center;
  margin-right: 60px;
  width: 450px;
}
.footer-logos-deals h5 {
  font-size: 18px;
  text-align: left;
  font: normal normal normal 16px/24px Rubik;
  letter-spacing: 0px;
  color: #245489;
  opacity: 1;
}
.footer-logos-deals p {
  font-size: 12px;
}

.wad-footer-logo-content {
  float: left;
  text-align: left;
  font: normal normal normal 16px/24px Rubik;
  letter-spacing: 0px;
  color: #245489;
  opacity: 1;
}

.subscribebox {
  margin-left: 10px;
  width: 500px;
}
.subscribebox_input::-webkit-input-placeholder {
  height: 20;
  font-size: 10px;
}
.subscribebox_btn {
  border: none;
  color: white;
  background: #ff0000 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  top: 6002px;
  left: 1129px;
  width: 177px;
  height: 41px;
}

.footer-logos-mob {
  display: none;
}


.mango {
  width: 244px;
  margin-right: 350px;
}

#general {
  margin-right: 500px;
  width: 244px !important;
  margin-left: -16px !important;
}

/* @media only screen and (max-width:300px){
  [class*="wad-faq"]{
    width:100%;
  }
}
@media only screen and (max-width:300px){
  [class*="wad-faq-container"]{
    width:100%;
  }
} */

@media only screen and (max-width: 1000px) {
  .wad-search-row {
    display: none;
  }
  .wad-row {
    display: none;
  }
  .wad-nav-mob {
    display: flex;
    align-items: center;
  }
  input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="number"] {
    padding-left: 60px;
    outline: none;
    height: unset;
  }
  .wad-form-input {
    display: flex;
    justify-content: space-between;
    margin-left: -50px;
  }
  .wad-form-input img {
    margin-left: 50px;
  }
  .wad-form-input input {
    padding-left: 60px;
    background-color: #f6f9fe;
  }
  .wad-row-mob {
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wad-bottom-mob {
    background-color: #d4dfea;
    padding: 3px;
  }
  .wad-row-button {
    margin: 0px 0px 0px 0px;
    display: contents;
  }
  .wad-row-button {
    margin: 40px 0;
  }
  .wad-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 100px !important;
    margin-left: 25px !important;
  }
  .wad-column-head {
    padding: 20px 0px 0px 0px;
    /* margin-bottom: -25px; */
    margin-top: 0px;
    color: #336699;
  }
  .wad-column-head object {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
  }
  .wad-column-head p {
    font-size: 16px;
    font-weight: 500;
  }
  select.account {
    border: 0px;
    outline: 0px;
    background-color: white !important;
  }
  .wad-nav-mob {
    display: none;
  }
  .wad-nav-mob {
    display: flex;
    align-items: center;
  }
  .wad-row-button {
    margin-top: 18px !important;
    margin: 40px 12%;
    text-align: center;
    margin-top: 32px !important;
  }
  .wad-row-button:after {
    content: "";
    display: table;
    clear: both;
  }
  .wad-column-button {
    float: left;
    width: 33.33%;
    padding: 0;
  }
  .wad-compare-buttonz {
    box-shadow: 0px 0px 15px 0px rgb(200, 211, 207);
    background-color: rgb(221, 247, 247);
    border: none;
    color: #255489;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px 7px 3px;
    cursor: pointer;
  }
  

  .wad-breadcrumbs {
    display: none;
  }

  .wad-bottom-mob {
    background-color: #d4dfea;
    padding: 3px;
    margin-bottom: 1px;
  }

  .wad-buttons-mob {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
  }

  .wad-trip-button {
    padding: 7px 25px;
  }

  .wad-from {
    display: none;
  }

  .wad-form-tab {
    width: 100%;
  }
  .wad-form-input {
    display: flex;
    justify-content: space-between;
  }

  .wad-pageroutes {
    display: none;
  }

  .wad-form-container-mob {
    background-color: #f6f9fe;
    display: flex;
    flex-direction: column;
  }

  .wad-form-mob {
    display: flex;
    justify-content: space-between;
    margin-right: 44px;
  }

  .wad-form-sub-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 30px;
    background-color: #f6f9fe;
  }

  .wad-search-flight-btn {
    width: 94%;
    background-color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    align-items: center;
    margin-left: 27px;
  }

  .wad-form-details {
    display: flex;
    justify-content: space-around;
    color: #336699;
    margin-bottom: 20px;
    /* border: solid 1px #6b86ab; */
    margin: 10px 16px 10px 16px;
    border-radius: 5px;
  }

  .wad-form-details p {
    margin-top: 20px;
    font-size: 22px;
  }

  .wad-form-details li {
    font-size: 18px;
  }

  .wad-form-details .wad-form-ul {
    margin-left: 40px;
  }

  .wad-content-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .wad-content-container h2 {
    font-size: 25px;
  }
  .wad-content-container p {
    font-size: 15px;
  }

  .wad-queries-info {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: -35px;
  }

  .wad-general-info-container {
    background-color: #f6fafe;
    height: 50px;
    padding: 10px;
  }

  .wad-otherInfo-details-left h5 {
    font-size: 12px;
  }
  .wad-general-info-container > h5 {
    margin-top: 0px;
  }
  .footer-img{
    margin-top: 2rem;
  }
  .footer-column-2 {
      width: 50%;
    }

    .footer-logos {
      display: none;
    }

    .footer-logos-mob {
      display: block;
      padding: 50px;
    }

    .footer-logos-deals-details-mob {
      display: flex;
    }

  /*  HAMBURGER   */

  .menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(221, 247, 247);
    overflow-x: hidden;
    color: white;

    /* transform: translateY(-100%); */
    transition: transform 0.2s;
    list-style: none;
    /* padding-top: 2rem; */
    display: none;
  }

  .menu li {
    margin-top: 7rem;
    padding: 1rem;
    text-align: center;
  }

  .menu li a {
    text-decoration: none;
    display: block;
    font-size: 35px;
  }

  .close {
    position: fixed;
    right: 0;
    padding: 0 1rem 0 1rem;
    font-size: 5rem;
    color: black;
  }

  .showNav {
    transform: translateY(0);
  }
}

/* @media only screen and (max-width: 480px) {
  .wad-form-mob {
    display: block;
  }
  .footer {
    display: none;
  }

  .footer-mob {
    display: flex;
    background-color: #245489;
  }

  .footer-mob-dropdown {
    margin-left: 60px;
    padding: 0;
  }
  .footer-column-2 {
    width: 100%;
    padding: 0 50px 0 0;
  }

  .mob-hide {
    display: none;
  }
  .footer-logos-deals-details-mob {
    display: block
  }
} */

/* mobile-view */

@media only screen and (max-width: 480px) {
  * {
    margin-left: 0px;
  }
  .wad-queries-info {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: -35px;
  }
  .wad-queries-info p {
    font-size: 14px;
  }
  .wad-queries-info h3 {
    font-size: 18px;
  }
  .wad-info-headings {
    text-align: left;
    letter-spacing: 0px;
    color: black;
    opacity: 1;
    width: 160px;
    height: 45px;
    /* background: #336699 0% 0% no-repeat padding-box; */
    opacity: 1;
    margin-left: 11px;
  }

  .wad-form-tab {
    width: 100%;
  }

  .wad-info-headings h3 {
    font-size: 16px;
    margin-left: -21px;
  }

  .wad-search-flight-btn {
    margin-left: 12px;
    margin-right: 14px;
  }

  .wad-form-details p {
    font-size: 18px;
  }

  .wad-form-details li {
    font-size: 14px;
  }

  .wad-form-mob {
    display: flex;
    justify-content: space-between;
    margin-left: -22px;
    margin-right: 65px;
  }
  .footer-img{
    margin-top: 1rem;
  }
  .footer-mob {
    display: flex;
    background-color: #245489;
  }
  .footer-mob-dropdown {
    margin-left: 16px;
    padding: 0;
  }
  .footer-mob-dropdown > h4 {
    font-size: 1rem;
  }
  .footer-column-2 ul {
    padding-left: 0px !important;
  }
  .footer-column-2 h4 {
    margin-left: 16px;
  }
  .footer {
    display: none;
  }
  .footer-column-2 {
    width: 100%;
    padding: 0 16px 0 0;
  }
  .footer-logos-mob {
    padding: 10px 16px 0px 16px !important;
  }
  .footer-column-2 ul li {
    margin-left: 16px !important;
  }
  .mob-hide {
    display: none;
  }
  .subscribebox {
    width: 175px !important;
    margin: 0 auto !important;
  }
  .footer-logos-deals-details-mob {
    display: block !important;
  }
  .footer-column-2 {
    width: 100% !important;
  }
  .footer-logos-sponsors {
    margin-right: 0px;
  }
  .subscribebox_input{
    padding-left: 20px !important;
  }


  
  .wad-otherInfo-details-right {
    display: none;
  }
  
  .wad-form-mob {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .routes-head-top {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .search-routes-head-top h2 {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
  }
  .search-routes-head-top {
    display: table;
    margin: 0 auto;
    background-color: rgba(236, 251, 252, 0.61);
    border-radius: 5px;
  }
  .column-routes-head-top {
    font-weight: bold;
    padding: 10px 0px;
    font-size: 14px;
  }
  .column-routes-head-top > p {
    margin-bottom: 0 !important;
  }
  .routes-top {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-right: 33px;
    padding-left: 10px;
  }
  .search-routes-top {
    display: table;
    margin: 0 auto;
    background-color: rgba(236, 251, 252, 0.61);
    border-radius: 5px;
  }
  .column-routes-top {
    padding: 20px 0px;
    margin: 0 13px;
  }
  hr.top {
    margin: 0 !important;
    border-top: 2px solid #0c6aec !important;
  }
  .search-buttons {
    background-color: red;
    border: none;
    color: white;
    padding: 8px 10px 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: -4px 2px 0px 2px;
    cursor: pointer;
  }

  .wad-mango-mob {
    display: block;
    margin: 0 auto;
    padding: 10px 70px 0 70px;
  }

  .wad-start-mob {
    display: flex;
    margin-top: 42px;
    justify-content: center;
    margin-left: -70px;
    font-weight: 500;
  }

  /*  HAMBURGER   */

  .menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(221, 247, 247);
    overflow-x: hidden;
    color: white;

    /* transform: translateY(-100%); */
    transition: transform 0.2s;
    list-style: none;
    /* padding-top: 2rem; */
    display: none;
  }

  .menu li {
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
  }

  .menu li a {
    text-decoration: none;
    display: block;
    font-size: 15px;
  }

  .close {
    position: fixed;
    right: 0;
    padding: 0 1rem 0 1rem;
    font-size: 3rem;
    color: black;
  }

  .showNav {
    transform: translateY(0);
  }
}

/* autocomplete airport */

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}

.ui-autocomplete::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.ui-autocomplete::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.ui-menu-item {
  font-size: 16px !important;
}

.ui-state-focus {
  background: #315fa08f !important;
  color: white !important;
}

.ui-state-active {
  background: #315fa069 !important;
}

.ui-widget-header,
.ui-datepicker th {
  font-weight: normal !important;
}

input::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(./utils/images/arrow_back_ios_black_24dp/arrow_back_ios_black_24dp@2x.png)
    no-repeat;
  background-size: 14px;
  background-position: center bottom;
  width: 10px;
  height: 10px;
  border-width: thin;
}

#roundtripbutton {
  outline: 1px solid blue;
}
